Requirements:

1. Open `CSS Exercise.png` in your favorite image viewer

2. Implement the design into a html file

3. All css styles should be placed in a separate file that gets included by the html file

4. You can use different colors

5. Dimensions (widths and heights) don't have to be exact, BUT alignment does

6. Not looking for anything responsive


====================================
== REMEMBER TO: ====================
==== RELAX, HAVE FUN & GOOD LUCK! ==
====================================